
      h1 {
        font-size: 5em;
        color: brown;
        padding: 1cm;
      }
      p {
        font-size: 3em;
        color:palevioletred;
        padding: 1cm; 
      }
      html {
        background-color: tan;
        text-align: center;
        font-size: 50px;
      }